<h1 class="title">
  <%= @venue.name %>
</h1>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <h2 class="subtitle"> 
    Address
    </h2>
     <p>
      <%= @venue.street_number %> <%= @venue.street %>, <%= @venue.neighborhood %>, <%= @venue.zip %> <%= @venue.state %>
    </p>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2 class="subtitle"> 
    Dress Code
    </h2>
    <p><%= @venue.dress_code %></p>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2 class="subtitle"> 
    Opening hours
    </h2>
    <table class="table table-striped table-bordered">
      <tr>
        <td><%= @venue.hours %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
<div class="col-sm-12 col-md-4">
  <p><%= image_tag @venue.image %></p>
</div>